body {

    background-color: pink;
}
#buttons {
    margin-right: 200px;

    text-align: center;
}
#buttons {
    margin-right: 45px;

}
#audiobuttons{
  font-size: 40px;

}
.main-box{
  padding-top: 200px;
  text-align: center;
}
